<div class="row">
  <div *ngFor="let author of authorData">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Author</mat-card-title>
        <mat-card-subtitle>Author ID: {{author.authorId}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <b> Author Name: </b> {{author.authorName}}
          <br/>
          <img src="assets/images/books.png" alt="Books" title="Books" />
          <span *ngFor="let book of author.books">
            {{book.title}}
          </span>
          <br/>
          <img src="assets/images/comic-book.png" alt="Comics" title="Comics" />
          <span *ngFor="let comic of author.comics">
            {{comic.title}}
          </span>
          <br/>
          <img src="assets/images/newspaper.png" alt="Magazines" title="Magazines" />
          <span *ngFor="let magazine of author.magazines">
            {{magazine.title}}
          </span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="warn">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
